{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'skola/skola.css' %}">
    <title>Document</title>
</head>
<body>
   {% if studenti %}
   <h1>Študenti:</h1>
   <ul>
    {% for student in studenti %}
    <li><a href="{% url 'detail-student' pk=student.id %}">{{student}}</a></li>
    {% endfor %}
   </ul>
   {% endif %}

   {% if ucitelia %}
   <h1>Učitelia:</h1>
   <ul>
    {% for ucitel in ucitelia %}
    <li>{{ucitel}}</li>
    {% endfor %}
   </ul>
   {% endif %}

   {% if triedy %}
   <h1>Triedy:</h1>
   <ul>
    {% for trieda in triedy %}
    <li><a href="{% url 'vypis-trieda' pk=trieda.id %}">{{trieda}}</a></li>
    {% endfor %}
   </ul>
   {% endif %}
   
   {% if kruzky %}
   <br>
   <h2>Krúžky</h2>
   <ul class="list-group">
       {% for kruzok in kruzky %}
       <li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'kruzok' kruzok=kruzok.skratka %}">{{kruzok}}</a></li>
       {% endfor %}
   </ul>
   {% endif %}
</body>
</html>